@charset "UTF-8";
body {
    background-color: rgb(130, 228, 138);
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    color: blue;
}

h1#principal {
    text-align: center;
    background-color: rgb(255, 123, 0);
    color: rgb(34, 0, 255);
}

h2 {
    color: rgb(128, 0, 145);
}

h2.basico {
    color: green;
}

h2.intermediario {
    color: yellow;
}

h2.avançado {
    color: red;
}

.destaque {
    background-color: orange;
}